# This config is equivalent to both the '.circleci/extended/orb-free.yml' and the base '.circleci/config.yml'
version: 2.1

# Orbs are reusable packages of CircleCI configuration that you may share across projects, enabling you to create encapsulated, parameterized commands, jobs, and executors that can be used across multiple projects.
# See: https://circleci.com/docs/2.0/orb-intro/
orbs:
  node: circleci/node@7.1.0

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  test: # This is the name of the workflow, feel free to change it to better match your workflow.
    # Inside the workflow, you define the jobs you want to run.
    jobs:
      - yarn-test

jobs:
  # https://circleci.com/developer/orbs/orb/circleci/node
  yarn-test:
    docker:
      - image: cimg/node:20.19
    # https://circleci.com/docs/2.0/configuration-reference/#resourceclass
    resource_class: small
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run: node --version
      - run:
          command: yarn run test
          name: Run YARN tests
